@import 'http://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css';

.container {
    width: 1200px;
    margin: 0 auto;
}

.mu-popover {
    z-index: 99999999 !important;
}

.mu-snackbar {
    z-index: 99999999 !important;
}