@import 'https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css';
@font-face {
    font-family: "Poppins";
    src: url("../../../public/font/Poppins-Bold.ttf");
    src: url("../../../public/font/Poppins-ExtraBold.ttf");
    src: url("../../../public/font/Poppins-ExtraLight.ttf");
    src: url("../../../public/font/Poppins-Light.ttf");
    src: url("../../../public/font/Poppins-Medium.ttf");
    src: url("../../../public/font/Poppins-Regular.ttf");
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.minscreen {
    display: none;
}

.mu-popover {
    z-index: 99999999 !important;
}

.mu-snackbar {
    z-index: 99999999 !important;
}
.mu-overlay {
    opacity: 0.7 !important;
}

.mu-option.is-selected .mu-item {
    color: #1246BD;
    background-color: #DBE7FF;
    font-weight: 700;
}

.dispatcher {
    color: #1371FF !important;
    text-shadow: 0 0 10px #1371FF !important;
    .mu-item {
        color: #1371FF !important;
        text-shadow: 0 0 10px #1371FF !important;
    }
    .mu-select-input {
        color: #1371FF !important;
        text-shadow: 0 0 10px #1371FF !important;
    }
}
.import {
    color: #E88A3A !important;
    text-shadow: 0 0 10px #E88A3A;
    .mu-item {
        color: #E88A3A !important;
        text-shadow: 0 0 10px #E88A3A;
    }
    .mu-select-input {
        color: #E88A3A !important;
        text-shadow: 0 0 10px #E88A3A;
    }
}

// 提示框
.alert {
    display: flex;
    &.mu-info-color {
        background-color: #636073;
    }
    &.mu-success-color {
        background-color: #636073;
    }
    .mu-snackbar-message {
        flex: 1;
    }
    .mu-snackbar-action {
        padding: 0 8px 0 8px;
    }
    .close {
        width: 20px;
        height: 20px;
        background: url(../../../public/img/close_icon03.png) no-repeat center;
        background-size: 60%;
    }
}


@media screen and (max-width: 800px){
    .nominscreen {
        display: none !important;
    }
    .minscreen {
        display: block;
    }
    .container {
        width: 100%;
    }
}

